body {
    font-family: "Yeseva One", serif;
    line-height: 1.6;
}

header {
    background-color: #222831; 
    color: #fff; 
    padding: 20px;
    text-align: left;
    font-family: "Yeseva One", serif;

}

h1{
    font-family: "Montserrat", sans-serif;
}

p{
    font-family: "Montserrat", sans-serif;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

ul {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #31363F;
}

nav ul {
    text-align: center; 
}

nav ul li {
    display: inline-block; 
    margin: 0 20px; 
}

nav ul li a {
    color: #fff; 
    text-decoration: none; 
    padding: 5px 10px; 
    transition: background-color 0.3s; 
}

nav ul li a:hover {
    background-color: #555; 
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.grid-item {
    border: 1px solid #ccc;
}

.grid-item img {
    width: 100%;
    height: auto;
}

form {
    width: 400px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.confid {
    margin-top: 10px;
}

.confid input[type="checkbox"] {
    display: inline-block;
    margin-right: 5px;
}

.pseudo,
.mdp,
.mail,
.obj,
.mess,
.nivurg {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.objet label,
.message label,
.nivurg label {
    margin-top: 10px;
}

::placeholder{
    color: #999; 
}


@media screen and (max-width: 480px) {
    form {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {  
    header {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}

@media screen and (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .grid-item {
        width: 100%;
    }
}